<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      >
<head th:fragment="head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title}">Login</title>
  <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{css/fontawesome-all.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{css/iofrm-style.css}">
  <link rel="stylesheet" type="text/css" th:href="@{css/iofrm-theme19.css}">
</head>
<body>

  <div th:fragment="scripts">
    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{js/popper.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/main.js}"></script>
  </div>
</body>
</html>