<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fregments :: head"></head>
<body>
    <div class="form-body without-side">
        <div class="website-logo">
            <a href="index.html">
                <div class="logo">
                    <img class="logo-size" th:src="@{images/logo-white.png}" alt="Paper Less Classroom">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img th:src="@{images/graphic-form.svg}" alt="Graphic">
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Register new account</h3>
                        <p>Break the barrier by registered into the classroom.</p>
                        <form th:action="@{/do-register}" method="post" th:object="${user}">
                            <input class="form-control" th:field="*{firstName}" type="text" name="firstName" placeholder="First Name" required>
                            <input class="form-control" th:field="*{lastName}" type="text" name="lastName" placeholder="Last Name" required>
                            <input class="form-control" type="email" th:field="*{username}" name="email" placeholder="E-mail Address" required>
                            <input class="form-control" type="email" th:field="*{username}" name="email" placeholder="E-mail Address" required>
                            <textarea class="form-control" rows="6" cols="9" th:field="*{address}"></textarea>
                            <input class="form-control" type="password" th:field="*{password}" name="password" placeholder="Password" required>
                            <input class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password" required>

                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn">Register</button>
                            </div>
                        </form>
                        <div class="other-links">
                            <div class="text">Or register with</div>
                            <a href="#"><i class="fab fa-facebook-f"></i>Facebook</a><a href="#"><i class="fab fa-google"></i>Google</a><a href="#"><i class="fab fa-linkedin-in"></i>Linkedin</a>
                        </div>
                        <div class="page-links">
                            <a th:href="@{/login}">Login to account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fregments :: scripts"></div>
</body>
</html>