<!DOCTYPE html>
<html lang="en" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fregments :: head"></head>

<body>
  <div th:replace="fregments :: theme-change"></div>
  <!-- Main Section Start -->
  <main>
    <!-- Main header -->
    <header th:replace="fregments :: main-header" class="py-3 border-bottom"></header>

      <div class="container-fluid">
        <div class="row">
          <div th:replace="fregments :: sidebar" class="col col-lg-2 col-md-3 col-sm-12 m-0 p-0"></div>
          <div class="col m-0 p-0">
            <div class="p-3 rounded m-3 ms-0 mb-5 border overflow-auto mt-0 me-1" style="height: 100vh;">
              <div class="pb-5 mb-5">
                <div class="row">
                  <div class="col-lg-7 mt-5 mx-auto">
                    <div th:if="${error}" th:replace="fregments :: alert-error"></div>
                    <div th:if="${success}" th:replace="fregments ::  alert-success"></div>
                    <div class="section">
                      <!-- Title -->
                      <div class="d-flex justify-content-between align-items-center pb-3">
                        <h2 class="mb-0 pb-0">Teacher Request</h2>
                      </div>

                      <!-- Divider -->
                      <div class="border-top border-2 rounded mb-3 border-light"></div>

                      <!-- Data -->
                      <div th:each="request : ${classroomTeacherRequest}" class="card mb-3">
                        <div class="card-body">
                          <h4 class="mb-2 pb-0" th:text="${request.classroom.name}"></h4>
                          <p class="mb-1" th:if="${request.classroom.session}">Session: <span th:text="${request.classroom.session}"></span></p>
                          <p class="mb-1" th:if="${request.classroom.subject}">Subject: <span th:text="${request.classroom.subject}"></span></p>
                          <p class="mb-1" th:if="${request.classroom.description}">Description: <span th:text="${request.classroom.description}"></span></p>
                          <p class="mb-1">Status: <span class="fst-italic" th:text="${request.status}"></span></p>
                          <div class="buttons mt-3" th:if="${request.status == 'PENDING'}">
                            <a class="btn btn-success me-2" href="#">Accept</a>
                            <a class="btn btn-danger" href="#">Reject</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div th:replace="fregments :: classroom-join-modal"></div>

    <div th:replace="fregments :: scripts"></div>
  </body>
</html>
